/* Style global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

/* Header */
header {
    background-color: #1a73e8;
    padding: 7px 0;
    color: white;
}

header .logo h1 {
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    list-style-type: none;
    text-align: right;
    margin-right: 20px;
}

header nav ul li {
    display: inline;
    margin-left: 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Page d'accueil */
.hero {
    background-image: url('images/hero-bg.jpg');
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero .hero-content {
    color: black;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 30px;
}

.hero .btn {
    background-color: #ff5a5f;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
}

.features {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

.feature-card {
    width: 250px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature-card img {
    width: 80px;
    margin-bottom: 20px;
}

.features h2 {
    text-align: center;
    margin-bottom: 30px;
}

.content {
    padding: 40px 20px;
}

.content .section {
    margin-bottom: 40px;
}

footer {
    background-color: #1a73e8;
    color: white;
    text-align: center;
    padding: 20
}